<div class="post-item-meta">
    {{ i18n "format_date" .PublishDate }}
    &emsp;
    <!-- Reading Time Start -->
    {{ if .Site.Params.enableReadingTime }}
    <i class="material-icons" style="font-size:10px">schedule</i>
    {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}

    {{ $minutes := math.Ceil (div $readTime 60) }}

    {{ $minutes }}分钟
    {{ end }}
    <!-- Reading Time End -->
    &emsp;
    {{ if .Draft }}
    <span class="draft-label">{{ i18n "draft" }}</span>
    {{ end }}
</div>